html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

body{
    background-image:url("../img/backmain.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}


#container{
    width:90%;
    height: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  
}


#grid1{
    width: 100%;
    display: grid;
    gap:20px;

}

 @media(min-width:1024px){
    #grid1{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr ;
    }



 }

 @media(max-width:1024px){
    #container{
       
        grid-template-columns: minmax(0,500px);
        grid-template-rows: repeat(2,200px) ;
     
    }

    #logo img{
    width: 100%;
    }
     
    .campos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   #login .campos h1{
    text-align: center;
   }
    
   
}  


.caja{
    width: 100%;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    width: 80%;
}


#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#login h1{
    font-size:35px;
    text-align: left;
    color:#45210d;
    font-weight: bold;
}


.formularioLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

.campos label{
    font-size: 25px;
    color:#45210d;
    font-weight: bold;
    display: block;
    margin-bottom: 9px;
    
}




.campos input{
    width: 80%;
    padding:18px 10px ;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color:#45210d;
    background-color:rgba(255,255,255,.1);
    box-shadow:
    5px 5px 10px rgba(89,56,37,.3);
    border: 1px solid #593825;
    border-radius:15px;
    cursor: pointer;
    transition: transform .3s ease, border .3s ease;


}

input::placeholder{
    color:#45210d;
   
}

input:hover{
 transform: scale(1.03);
}

input:focus{
 border:2px solid #45210d;
}

#login a{
    font-size: 25px;
    color:#45210d;
    text-align:left;
    display: block;
    font-weight:bold;
} 



.boton{
    width: 81%;
    height: 70px;
    border:3px solid #03658C;
    border-radius: 15px;
    background-color: #03658C;
    display: block;
    margin:20px 0;
    font-size: 30px;
    font-weight: 600;
    color:white;
    transition: .3s;
} 




.boton1{
    width: 81%;
    height: 70px;
    border:4px solid #03658C;
    border-radius: 15px;
    background-color: #02734A;
    display: block;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600;
    color:white;
    transition: .3s;
}

.boton1:hover{
  transform: scale(1.03);

}

.boton:hover{
     transform: scale(1.03);
}